@media (max-width: 576px) {
  .top {
    height: auto;
    text-align: center;
    .top_language {
      .languages {
        position: static;
        visibility: visible;
        opacity: 1;
        width: 100%;
        a {
          color: $color_word;
        }
      }
    }
  }
} ;
